.custom-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: fixed;
    width: 100%;
}

    .custom-table td {
        padding: 8px;
    }

.custom-table1 {
    border-spacing: 0 10px;
    table-layout: fixed;
    width: 100%;
}

    .custom-table1 td {
        padding: 10px;
    }

.package-table td {
    padding: 15px;
}

td, th {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}

.custom-outline-button {
    background-color: white;
    color: #6c757d;
    border: 1px solid #6c757d;
    transition: background-color 0.2s, color 0.2s;
}

    .custom-outline-button:hover {
        background-color: darkgrey;
        color: white;
    }

    .custom-outline-button:active {
        background-color: #6c757d;
        color: white;
        border-color: #6c757d;
    }

.status-box {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 6px 10px;
    border: 2px solid;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.status-uptodate {
    border-color: #63AA5B;
}

.status-updatepending {
    border-color: #0092ff;
}

.status-error {
    border-color: #D90000;
}

.status-notseen {
    border-color: #B0B0B0;
}

.status-outdated {
    border-color: #FFA500;
}

.status-default {
    border-color: #000000;
}

.swal2-title,
.swal2-html-container {
    color: black !important;
}

.btn-color {
    background-color: #0B5120;
    color: white;
}

    .btn-color:hover {
        background-color: #0B5120;
        color: white;
    }