/*
    CSS para os botões de seleção
*/

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    padding: 10px;
}

.grid-item {
    flex: 0 1 calc(25% - 25px);
    min-width: 10rem;
    max-width: 20rem;
    height: clamp(10rem, 20vh, 15rem);
    background-color: #0c6527;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    white-space: normal;
}


.grid-container:has(.grid-item:nth-child(-n+4):last-child) {
    justify-content: center;
}

.grid-container-action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 10vh;
}

.grid-item-action {
    background-color: #0c6527;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    font-size: 26px;
    border-radius: 5px;
    white-space: normal;
}

/*****************************************************************/

/*
    CSS para a página de costumização das placas
*/

.btn-edit-custom {
    width: 20vw;
}

.custom-label {
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 90vw;
    word-break: break-word;
    justify-content: center;
}

.center-customization {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*****************************************************************/

@media (max-width: 1024px) {
    .grid-container {
        gap: 20px;
    }
}