@page "/customization/{deviceId}/{packageId}/{fleetId}"
@using ToradexSwLoader.Models
@using Microsoft.EntityFrameworkCore
@using ToradexSwLoader.Data
@inject NavigationManager UriHelper
@inject IDbContextFactory<AppDbContext> DbContextFactory

<PageTitle>Customizar Placa</PageTitle>

<a href="" onclick="history.back()" class="text-black">
        <i class="bi bi-arrow-left fs-1"></i>
    </a>

<h3 class="text-center py-4">Placa Final</h3>

@if (!isLoading)
{
    <h5 style="text-align: center;">Dispositivo: @selectedDevice?.DeviceName</h5>
    <h5 style="text-align: center;">Software: @selectedPackage?.PackageId</h5>
    <h5 style="text-align: center;">Frota: @selectedFleet?.FleetName</h5>
}

<div class="center">
    @if (!isEditing)
    {
        <h4 class="text-center px-5">
            @finalBoard
            <span class="bi bi-pencil-square px-5" aria-hidden="true" style="cursor:pointer" @onclick="ChangeName"></span>
        </h4>

        <div class="text-center fixed-bottom pb-5">
            <a href="/home" class="btn btn-color btn-lg">OK</a>
        </div>

    }
    else
    {
        <div class="edit-form">
            <input type="text" @bind="finalBoard" class="form-control w-50 mx-auto" />
            <button class="btn btn-color mt-2" @onclick="SaveName">Salvar</button>
            <button class="btn btn-danger mt-2 ms-2" @onclick="CancelEdit">Cancelar</button>
        </div>
    }
</div>

<style>
    .edit-form{
        width: 90vw;
    }

    .bi-pencil-square {
        font-size: 30px;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
</style>

@code {
    private bool isLoading = true;

    [Parameter]
    public string deviceId { get; set; } = string.Empty;
    private Device? selectedDevice = new Device();

    [Parameter]
    public string packageId { get; set; } = string.Empty;
    private Package? selectedPackage = new Package();

    [Parameter]
    public string fleetId { get; set; } = string.Empty;
    private Fleet? selectedFleet = new Fleet();

    long serial;

    private string finalBoard = string.Empty;

    private bool isEditing = false;

    private string originalFinalBoard = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbContextFactory.CreateDbContext();
        selectedDevice = await context.Devices.FirstOrDefaultAsync(d => d.DeviceId == deviceId);
        selectedPackage = await context.Packages.FirstOrDefaultAsync(p => p.PackageId == packageId);
        selectedFleet = await context.Fleets.FirstOrDefaultAsync(f => f.Id == fleetId);

        isLoading = false;
    }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(finalBoard) && selectedDevice != null && selectedPackage != null && selectedFleet != null)
        {
            finalBoard = $"{selectedDevice.DeviceName}_{selectedPackage.PackageVersion}_{selectedFleet.FleetName}";
        }
    }

    private void ChangeName()
    {
        originalFinalBoard = finalBoard;
        isEditing = true;
    }

    private void SaveName()
    {
        isEditing = false;
    }

    private void CancelEdit()
    {
        finalBoard = originalFinalBoard;
        isEditing = false;
    }
}