@page "/selectFleet/{selectedDeviceName}/{selectedPackageName}"

@using ToradexSwLoader.Data
@using ToradexSwLoader.Models
@using ToradexSwLoader.Services
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject AppDbContext DbContext
@inject TorizonService TorizonService
@inject FleetService FleetService
@inject NavigationManager UriHelper
@inject IJSRuntime JS
@inject SweetAlertService Swal

<PageTitle>Selecionar Frota</PageTitle>

<a href="" onclick="history.back()" class="text-black">
    <i class="bi bi-arrow-left fs-1"></i>
</a>

<h3 class="text-center pb-5">Selecionar Frota</h3>
<br />
<br />

<div class="grid-container">
    @foreach (var fleet in fleets)
    {
        <div class="grid-item" @onclick="() => SelectFleetName(fleet)">@fleet.FleetName</div>
    }
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding: 10px;
    }

    .grid-item {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 30px 15px;
        font-size: 22px;
        border-radius: 5px;
    }
</style>

@code {
    [Parameter]
    public string selectedDeviceName { get; set; }

    [Parameter]
    public string selectedPackageName { get; set; }
    private List<Fleet> fleets = new List<Fleet>();
    private Fleet? selectedFleet;
    private string selectedFleetName;

    protected override async Task OnInitializedAsync()
    {
        var fleetUrl = "https://app.torizon.io/api/v2beta/fleets";

        var imported = await FleetService.ImportFleetsFromApiAsync(fleetUrl);

        if (imported)
        {
            fleets = await DbContext.Fleets.ToListAsync();
        }
        else
        {
            fleets = new List<Fleet>();
        }
    }

    private void SelectFleetName(Fleet fleet)
    {
        selectedFleet = fleet;
        selectedFleetName = fleet.FleetName;
        UriHelper.NavigateTo($"/customization/{Uri.EscapeDataString(selectedDeviceName)}/{Uri.EscapeDataString(selectedPackageName)}/{Uri.EscapeDataString(selectedFleetName)}");
    }

    private async Task OnClick()
    {
        if (selectedFleet != null)
        {
            // var userAct = new UserActivity
            // {
            //     ActMessage = $"Colaborador selecionou o software -> Id: {selectedFleet.PackageId} | Nome: {selectedFleet.PackageName}",
            //     ActTimeStamp = DateTime.Now
            // };

            // DbContext.UserActivities.Add(userAct);
            // await DbContext.SaveChangesAsync();

            UriHelper.NavigateTo($"/charging/{Uri.EscapeDataString(selectedDeviceName)}/{Uri.EscapeDataString(selectedPackageName)}/{Uri.EscapeDataString(selectedFleetName)}");
        }
        else
        {
            await JS.InvokeVoidAsync("Swal.fire", new
            {
                title = "Selecione uma frota!",
                icon = "warning",
                confirmButtonColor = "#0B5120"
            });
        }
    }
}
