@page "/selectFleet"

@using ToradexSwLoader.Data
@using ToradexSwLoader.Models
@using ToradexSwLoader.Services
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject TorizonService TorizonService
@inject FleetService FleetService

<PageTitle>Selecionar Frota</PageTitle>

<a href="#"
   onclick="if (@(isLoading.ToString().ToLower())) { event.preventDefault(); } else { history.back(); }"
   class="text-black"
   style="cursor: @(isLoading ? "default" : "pointer");">
    <i class="bi bi-arrow-left fs-1"></i>
</a>

<h3 style="text-align: center;">Selecionar Frota</h3>
<br />
<br />

<div class="grid-container">
    @foreach (var fleet in fleets)
    {
        <div class="grid-item">@fleet.FleetName</div>
    }
</div>

<style>
    /* Container for the grid */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
        gap: 25px; /* Space between grid items */
        padding: 10px;
    }

    /* Individual grid items */
    .grid-item {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 30px 15px;
        font-size: 22px;
        border-radius: 5px;
    }
</style>

@code {
    private List<Fleet> fleets = new List<Fleet>();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbContextFactory.CreateDbContext();
        fleets = await context.Fleets.ToListAsync();

        StateHasChanged();

        var importTask = Task.Run(async () =>
        {
            var fleetUrl = "https://app.torizon.io/api/v2beta/fleets";
            bool imported = await FleetService.ImportFleetsFromApiAsync(fleetUrl);
            return imported;
        });

        bool importResult = await importTask;

        if (importResult)
        {
            using var newContext = DbContextFactory.CreateDbContext();
            fleets = await newContext.Fleets.ToListAsync();
            StateHasChanged();
        }

        isLoading = false;
    }
}

