@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime JS
@inject IStringLocalizer<Resource> localizer
@inject TorizonService TorizonService
@inject LoginService LoginService

<div style="display: flex; align-items: center; flex-direction: column;">
    <p class="fs-5 text-muted text-center mb-2">
        @localizer["SSHComand"]
    </p>
    <p class="fs-5 text-muted text-center mb-2">
        @localizer["ClickCopy"]
    </p>

    <h5 class="custom-label text-center px-5">
        @sshLink
        <span class="bi bi-copy fs-4 px-3" aria-hidden="true" style="cursor:pointer" @onclick="CopyToClipboard" title="@localizer["Copy"]"></span>
    </h5>

    @if (copied)
    {
        <div class="text-success text-center mt-2">
            @localizer["Copied"]
        </div>
    }
</div>

@code {
    // Variáveis: Parameters
    [Parameter]
    public string? DeviceUuid { get; set; }

    [Parameter]
    public EventCallback OnCloseModal { get; set; }

    // Variáveis: Object
    SessionSsh? link = new();
    static readonly ILog _log = LogManager.GetLogger(typeof(SshLinkModal));

    // Variáveis: String
    string sshLink = string.Empty;

    // Variáveis: Boolean
    bool copied = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var context = DbContextFactory.CreateDbContext();

            if (!await TorizonService.AuthenticateAsync())
            {
                _log.Error("Error authenticating to Torizon Service.");
                return;
            }

            var sessionUrl = $"https://app.torizon.io/api/v2beta/remote-access/device/{DeviceUuid}/sessions";
            link = await TorizonService.GetSessionSshAsync(sessionUrl);

            sshLink = $"ssh -p {link?.ReversePort} torizon@ras.torizon.io";

            StateHasChanged();
        }
        catch (Exception ex)
        {
            _log.Error("Error authenticating to Torizon Service or loading ssh link.", ex);
        }
    }

    async Task CopyToClipboard()
    {
        if (!string.IsNullOrWhiteSpace(sshLink) && JS != null)
        {
            await JS.InvokeVoidAsync("navigator.clipboard.writeText", sshLink);
            copied = true;
            StateHasChanged();
            await Task.Delay(3000);
            copied = false;
            StateHasChanged();
        }
    }
}