@page "/managePatterns/add"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager

<PageTitle>Adicionar Pattern</PageTitle>

<div class="custom-container">
    <div class="page-title d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <i class="bi bi-card-list icon-align fs-3" style="padding-left: 10px;"></i>
            <h3 class="ms-2 mb-0">Adicionar Pattern</h3>
        </div>

        <div class="d-flex gap-3">
            <button class="btn btn-outline-light border border-white border-2"
                    style="width: 100px;"
                    @onclick="Cancel">
                <i class="bi bi-arrow-left fs-5"></i>
            </button>
            <button class="btn btn-outline-light border border-white border-2 fs-5"
                    style="width: 150px;"
                    @onclick="SavePattern">
                <i class="bi bi-floppy"></i> Salvar
            </button>
        </div>
    </div>

    <div class="edit-form mt-4">
        <div class="d-flex align-items-center gap-3">
            <label for="text" class="mb-0" style="font-size: 1.5rem; flex-shrink: 0;">
                Nome da pattern
                <span style="font-size: 15px;"> (máx. 50 caracteres)</span> :
            </label>
            <input type="text" @bind="pattern"
                   class="form-control"
                   style="font-size: 1.2rem;" 
                   maxlength="50"/>
        </div>
    </div>
</div>

@code {
    // String Variables
    private string pattern = string.Empty;

    private async Task SavePattern()
    {
        if (!ValidadePattern())
            return;

        using var context = DbContextFactory.CreateDbContext();

        if (await PatternExistsAsync(context))
        {
            await ShowPatternExistsAlert();
            return;
        }

        await AddPatternAsync(context);
        await ShowSuccessAlert();
        NavigationManager.NavigateTo("/managePatterns");
    }

    private bool ValidadePattern()
    {
        if (string.IsNullOrWhiteSpace(pattern))
        {
            _ = Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Por favor insira um nome válido!",
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonColor = "#0B5120"
            });
            return false;
        }

        if (pattern.Length > 50)
        {
            _ = Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Pattern muito comprida!",
                Text = "A pattern deve ter no máximo 50 caracteres.",
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonColor = "#0B5120"
            });
            return false;
        }

        return true;
    }

    private async Task<bool> PatternExistsAsync(AppDbContext context)
    {
        return await context.Patterns.AnyAsync(p => p.NameContains.ToLower() == pattern.Trim().ToLower());
    }

    private async Task ShowPatternExistsAlert()
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Esta pattern já existe!",
            Icon = SweetAlertIcon.Warning,
            ConfirmButtonColor = "#0B5120"
        });
        return;
    }

    private async Task AddPatternAsync(AppDbContext context)
    {
        var newPattern = new Pattern
        {
            NameContains = pattern,
            Enabled = true
        };

        context.Patterns.Add(newPattern);
        await context.SaveChangesAsync();
    }

    private async Task ShowSuccessAlert()
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Pattern adicionado com sucesso!",
            Icon = SweetAlertIcon.Success,
            ConfirmButtonColor = "#0B5120"
        });
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/managePatterns");
    }
}