@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">

    @if (IsCurrentPage("/home"))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    else
    {
        <div></div>
    }

    <main>
        @if (IsCurrentPage("/"))
        {
            <article class="content px-4">  
                @Body
            </article>
        } else{
             <div class="top-row px-4 d-flex justify-content-between">
                <span>Nome Colaborador</span>
                <span>14:57</span>
                @if (IsCurrentPage("/home"))
                {
                    <a href="" class="logout" target="">Terminar Sessão</a>
                }
             </div>
            <article class="content px-4">
                @Body
            </article>
        }
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .logout, .logout:hover {
        text-decoration: none !important;
        color: black;
    }
</style>


@code {
    private bool IsCurrentPage(string page)
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        relativePath = "/" + relativePath.TrimStart('/');

        return string.IsNullOrEmpty(relativePath) && page == "/" || relativePath == page;
    }
}
