@using BlazorBootstrap
@using Microsoft.EntityFrameworkCore
@using ToradexSwLoader.Data
@using ToradexSwLoader.Services
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject LoginService LoginService
@inject FinalProductStateService ProductState
@inject SweetAlertService Swal


<div class="layout-container">
    @if (!IsRootPage())
    {
        <header class="topbar">
            @if (ShouldShowSidebar())
            {
                @if (!sidebarVisible)
                {
                    <i class="bi bi-list fs-2" @onclick="SidebarIconOnClick" style="cursor: pointer;"></i>
                }
                else
                {
                    <i class="bi bi-list-nested fs-2" @onclick="SidebarIconOnClick" style="cursor: pointer;"></i>
                }
            }
            

            <div class="container-fluid d-flex align-items-center justify-content-between">
                <a class="navbar-brand" style="color: white; font-size: 1.5rem;" href="/home">ToradexSwLoader</a>
                <span style="font-size: 1.5rem;">@currentTime</span>
                <div class="user-menu-wrapper">
                    <button @onclick="ToggleMenu" class="user-icon-navbar">
                        <i class="bi bi-person-fill"></i>
                    </button>

                    @if (openMenu)
                    {
                        <div class="user-dropdown">
                            <button @onclick="ChangePassword" class="dropdown-item">
                                <i class="bi bi-lock mx-1"></i> Mudar Palavra-Passe
                            </button>
                            <button @onclick="OnShowModalClick" class="dropdown-item">
                                <i class="bi bi-question-circle mx-1"></i> Sobre
                            </button>
                            <button @onclick="Logout" class="dropdown-item">
                                <i class="bi bi-box-arrow-right mx-1"></i> Terminar Sessão
                            </button>
                        </div>
                    }
                </div>
            </div>
        </header>
    }

    <div class="main-container">
        @if (ShouldShowSidebar())
        {
            <nav class="sidebar @(sidebarVisible ? "show" : "hide")">
                <NavMenu />
            </nav>
        }

        <main class="content-area">
            @Body

            <Modal @ref="modalAbout" Title="Sobre" IsVerticallyCentered="true">
                <BodyTemplate>
                    <div style="width: 450px;">
                        <div style="display: flex; justify-content: space-between; margin-bottom:10px;">
                            <strong>Versão:</strong>
                            <div style="text-align: right; flex-grow: 1;">2.0.0</div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <strong>URL Base:</strong>
                            <div style="text-align: right; flex-grow: 1;">
                                https://172.16.50.146:7023/
                            </div>
                        </div>
                    </div>
                </BodyTemplate>
            </Modal>

            <Modal @ref="modalPassword" Title="Alterar Palavra-Passe" IsVerticallyCentered="true" OnHidden="ResetPasswordForm">
                <BodyTemplate>
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" class="form-control pe-5" @bind="currentPassword" autocomplete="current-password" aria-required="true" placeholder="Palavra-passe atual" id="password" />
                        <label for="password" class="form-label">Palavra-passe atual</label>
                        <i class="bi bi-lock-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" class="form-control pe-5" @bind="newPassword" autocomplete="current-password" aria-required="true" placeholder="Nova Palavra-passe" id="password" />
                        <label for="password" class="form-label">Nova Palavra-passe</label>
                        <i class="bi bi-lock-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
                    </div>
                    <div class="form-floating mb-5 position-relative">
                        <input type="password" class="form-control pe-5" @bind="confirmPassword" autocomplete="current-password" aria-required="true" placeholder="Confirmar Palavra-passe" id="password" />
                        <label for="password" class="form-label">Confirmar Palavra-passe</label>
                        <i class="bi bi-lock-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
                    </div>
                    <div class="text-center">
                        <a class="w-50 btn btn-custom btn-lg btn-color" @onclick="ChangeNewPassword">Alterar</a>
                    </div>
                </BodyTemplate>
            </Modal>
        </main>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .logout, .logout:hover {
        text-decoration: none !important;
        color: white;
    }

    span, .logout, .nav-link{
        font-size: 20px;
    }

    .top-row {
        color:white;
    }
</style>

@code {
    private bool openMenu = false;
    private string? currentTime;
    private System.Timers.Timer? timer;
    private string? username;
    private Modal modalAbout;
    private Modal modalPassword;
    private string currentPassword = string.Empty;
    private string newPassword = string.Empty;
    private string confirmPassword = string.Empty;

    private bool sidebarVisible = false;

    private void SidebarIconOnClick()
    {
        sidebarVisible = !sidebarVisible;
    }

    protected override Task OnInitializedAsync()
    {
        currentTime = DateTime.Now.ToString("HH:mm:ss");

        timer = new System.Timers.Timer(1000);
        timer.Elapsed += UpdateTime;
        timer.AutoReset = true;
        timer.Enabled = true;

        username = LoginService.Username;
        LoginService.OnLoginChanged += OnLoginChanged;

        return Task.CompletedTask;
    }

    private async Task OnShowModalClick()
    {
        await modalAbout?.ShowAsync();
        openMenu = !openMenu;
    }

    private async Task ChangePassword()
    {
        await modalPassword?.ShowAsync();
        openMenu = !openMenu;
    }

    private async Task ChangeNewPassword()
    {
        if (string.IsNullOrWhiteSpace(currentPassword) || string.IsNullOrWhiteSpace(newPassword) || string.IsNullOrWhiteSpace(confirmPassword))
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Todos os campos são obrigatórios.",
                Icon = SweetAlertIcon.Error,
                ConfirmButtonColor = "#0B5120"
            });
            return;
        }

        if (newPassword != confirmPassword)
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "As novas palavras-passe não coincidem.!",
                Icon = SweetAlertIcon.Error,
                ConfirmButtonColor = "#0B5120"
            });
            return;
        }

        var success = await LoginService.ChangePasswordAsync(username!, currentPassword, newPassword);

        if (success)
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Palavra-passe alterada com sucesso!",
                Icon = SweetAlertIcon.Success,
                ConfirmButtonColor = "#0B5120"
            });

            ResetPasswordForm();

            await modalPassword?.HideAsync();
        }
        else
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Erro ao alterar a palavra-passe. Verifique a palavra-passe atual.",
                Icon = SweetAlertIcon.Error,
                ConfirmButtonColor = "#0B5120"
            });
        }
    }

    private void ResetPasswordForm()
    {
        currentPassword = string.Empty;
        newPassword = string.Empty;
        confirmPassword = string.Empty;
    }


    private async Task Logout()
    {
        Navigation.NavigateTo("");
        openMenu = !openMenu;
    }

    private void ToggleMenu()
    {
        openMenu = !openMenu;
    }

    private void OnLoginChanged()
    {
        username = LoginService.Username;
        InvokeAsync(StateHasChanged);
    }

    private async void UpdateTime(object? sender, System.Timers.ElapsedEventArgs e)
    {
        await InvokeAsync(async () =>
        {
            currentTime = DateTime.Now.ToString("HH:mm:ss");

            using var context = DbContextFactory.CreateDbContext();
            var latest = await context.FinalProducts
                .Include(fp => fp.UserPetrotec)
                .OrderByDescending(fp => fp.CreatedAt)
                .ToListAsync();

            ProductState.SetFinalProducts(latest);

            StateHasChanged();
        });
    }

    public void Dispose()
    {
        timer?.Dispose();
        LoginService.OnLoginChanged -= OnLoginChanged;
    }

    private bool ShouldShowSidebar()
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        relativePath = "/" + relativePath.TrimStart('/');

        var pages = new[] { 
            "/home", 
            "/manageDevices", 
            "/manageDevices/add", 
            "/manageDevices/edit", 
            "/manageProducts", 
            "/manageProducts/add",
            "/manageProducts/edit",
            "/manageStacks", 
            "/manageStacks/add", 
            "/manageStacks/edit", 
            "/managePackages", 
            "/managePackages/add", 
            "/managePackages/edit", 
            "/manageFleets",
            "/manageEntities", 
            "/manageEntities/add", 
            "/manageEntities/edit", 
            "/manageUsers", 
            "/manageUsers/add", 
            "/manageUsers/edit", 
            "/manageSecret", 
            "/managePatterns", 
            "/managePatterns/add", 
            "/managePatterns/edit",
            "/adminHistory",
            "/devices"
        };

        if (string.IsNullOrEmpty(relativePath)) 
            return false;

        if (pages.Contains(relativePath, StringComparer.OrdinalIgnoreCase))
            return true;

        if (relativePath.Contains("/edit/", StringComparison.OrdinalIgnoreCase) ||
        relativePath.EndsWith("/edit", StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    private bool IsRootPage()
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        return string.IsNullOrEmpty(relativePath) || relativePath == "/";
    }

    private bool IsHomePage()
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        relativePath = "/" + relativePath.TrimStart('/');
        return relativePath.Equals("/home", StringComparison.OrdinalIgnoreCase);
    }
}