@using Microsoft.EntityFrameworkCore
@using ToradexSwLoader.Data
@using ToradexSwLoader.Services
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject LoginService LoginService
@inject IDbContextFactory<AppDbContext> DbContextFactory

<div class="page">

    @if (IsCurrentPage("/home"))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    else
    {
        <div></div>
    }

    <main>
        @if (IsCurrentPage("/"))
        {
            <article class="content px-4">  
                @Body
            </article>
        } else{
             <div class="top-row px-4 d-flex justify-content-between">
                <span>@username</span>
                <span>@currentTime</span>
                @if (IsCurrentPage("/home"))
                {
                    <a href="" class="logout" target="">Terminar Sessão</a>
                }
             </div>
            <article class="content px-4">
                @Body
            </article>
        }
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .logout, .logout:hover {
        text-decoration: none !important;
        color: white;
    }

    span, .logout, .nav-link{
        font-size: 20px;
    }

    .top-row {
        color:white;
    }
</style>


@code {
    private string currentTime;
    private System.Timers.Timer timer;

    private string username;

    protected override async Task OnInitializedAsync()
    {
        currentTime = DateTime.Now.ToString("HH:mm:ss");

        timer = new System.Timers.Timer(1000);
        timer.Elapsed += UpdateTime;
        timer.AutoReset = true;
        timer.Enabled = true;

        username = GetUserNameFromEmail(LoginService.Email);
        LoginService.OnLoginChanged += OnLoginChanged;
    }

    private string GetUserNameFromEmail(string email)
    {
        if (string.IsNullOrEmpty(email))
            return string.Empty;

        var atIndex = email.IndexOf('@');
        if (atIndex > 0)
        {
            var usernamePart = email.Substring(0, atIndex);
            
            var parts = usernamePart.Split('.');

            for (int i = 0; i < parts.Length; i++)
            {
                if (!string.IsNullOrEmpty(parts[i]))
                {
                    parts[i] = char.ToUpper(parts[i][0]) + parts[i].Substring(1).ToLower();
                }
            }

            return string.Join(" ", parts);
        }

        return email;
    }

    private void OnLoginChanged()
    {
        username = GetUserNameFromEmail(LoginService.Email);
        InvokeAsync(StateHasChanged);
    }

    private void UpdateTime(object sender, System.Timers.ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            currentTime = DateTime.Now.ToString("HH:mm:ss");
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        timer?.Dispose();
        LoginService.OnLoginChanged -= OnLoginChanged;
    }

    private bool IsCurrentPage(string page)
    {
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        relativePath = "/" + relativePath.TrimStart('/');

        return string.IsNullOrEmpty(relativePath) && page == "/" || relativePath == page;
    }
}